body{
  background-color: rgb(255, 187, 0);
}
.heading{
  text-align: center;
}
.form{
  margin-left: 35rem;
}
.btn btn-primary{
  background-color: rgb(42, 42, 187);
}
.box{
  margin:auto;
  width: 300px;
  height: 300px;
  background-color: aliceblue;
}
.city{
  font-size: 35px;
}
.temp{
font-size: 55px;
}